# Framework principal
django

# Servidor WSGI para producción (usado por Render)
gunicorn

# Para servir archivos estáticos (CSS, JS) en producción
whitenoise

# Dependencia de tu intérprete ANTLR
antlr4-python3-runtime